#ImWindowContainer {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 9;
}
#ImContentContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 7;
}
#ImWindowContainer::-webkit-scrollbar {
  width: 0 !important;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  #MagicBadge {
    position: absolute;
    display: grid;
    height: 220px;
    width: 100%;
    top: 0px;
    background-image: linear-gradient(
      -400deg,
      #5753c97a 0%,
      #5753c9c2 50%,
      #5753c9 85%,
      #6e7ff3 100%
    );
    grid-template-rows: min-content;
  }
  #FunctionCard {
    width: 390px;
    height: 480px;
    background-image: linear-gradient(0deg, rgb(41, 50, 60) 0%, rgb(72, 85, 99) 100%);
    position: relative;
    top: 130px;
    padding: 20px 15px 15px;
    align-self: center;
    justify-self: center;
  }
  #FloatCard {
    width: 390px;
    height: 50px;
    background: rgb(41, 50, 60);
    position: relative;
    justify-self: center;
    z-index: -1;
    top: 140px;
  }
  #CryptControl {
    display: grid;
    width: 219px;
    grid-template-columns: 30% 30% 30% 30% 30% 30%;
    scale: 0.9;
    column-gap: 2px;
    margin-top: -5px;
    align-content: center;
  }
  #PositionOccupie {
    display: block;
    width: 390px;
    height: 20px;
    background: transparent;
    position: relative;
    justify-self: center;
    z-index: -1;
    top: 140px;
  }
}

@media screen and (min-width: 700px) {
  #MagicBadge {
    position: absolute;
    display: grid;
    height: 220px;
    width: 100%;
    top: 80px;
    background-image: linear-gradient(
      -435deg,
      #5753c97a 0%,
      #5753c9c2 50%,
      #5753c9 85%,
      #6e7ff3 100%
    );

    grid-template-rows: min-content;
  }
  #FunctionCard {
    width: 390px;
    height: 480px;
    background-image: linear-gradient(0deg, rgb(41, 50, 60) 0%, rgb(72, 85, 99) 100%);
    position: relative;
    float: right;
    left: calc(80% - 360px);
    top: 70px;
    padding: 20px 15px 15px;
  }
  #FloatCard {
    width: 150px;
    height: 130px;
    background-image: linear-gradient(0deg, rgb(41, 50, 60) 0%, rgb(72, 85, 99) 100%);
    position: relative;
    float: right;
    left: calc(80% - 520px);
    top: -80px;
  }
  #CryptControl {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px 40px;
    scale: 0.9;
    column-gap: 10px;
    margin-top: -5px;
    align-content: center;
  }
  #PositionOccupie {
    display: none;
  }
}

mdui-text-field::part(label) {
  backdrop-filter: blur(50px);
  background-color: transparent;
}
