.ImScrollBarTrack {
  position: fixed;
  transition: opacity 0.1s linear;
  opacity: 0;
  border-radius: 100px;
  z-index: 8;
  background-color: rgb(var(--mdui-color-surface-bright));
  align-self: center;
}
.ImScrollBarTrack:hover {
  opacity: 0.701;
}
.ImScrollBarThumb {
  position: absolute;
  background-color: rgb(var(--mdui-color-tertiary-light));
  opacity: inherit;
  border-radius: 100px;
  /*height: 10px;*/
  /*width: 100%;*/
}
